# Visual Studio + CMake
.vs/
.vscode/
build/
out/
Debug/
Release/
x64/
x86/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
CMakeSettings.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.exe
*.pdb
*.ilk
*.obj
*.tlog
*.log